body {

}
p {
  margin: 0px;
}
a{
  color: #bf5572c;
}
 
a:hover {color:#000;}

.faq_container{
	 margin: 20px 0px 0px 20px;
	 padding: 0px 0px 0px 0px;
	 width: 700px;
	 background: url(../images/corkboard_tile.jpg) 0px 0px;
}
