/* =============================================================================
   Site Styles
   ========================================================================== */



body ,.logon {
	margin-bottom: 60px;
	background-image: url(../images/skulls.png);
	height: 100%;
	width: 100%;
	left: auto;
	top: auto;
	right: auto;
	bottom: auto;
	}
	
.contaner
{
	background: url(../images/photography.png);
	margin: 15px;
	padding: 10px;
	height: 95%;
	width: 94%;
	left: 45px;
	top: 50px;
	right: 45px;
	bottom: 50px;
	clear: both;
	float: left;
	position: static;
	
}
 



a
{
display: inline-block;
width:200px;
height:141px;
position:relative;
-moz-box-sizing:border-box;
-webkit-box-sizing:border-box;
box-sizing:border-box;
}
h6
{
	color:rgb(0,0,0)
}

footer
{
	border: 5px #CBCC99 groove;
	background-color: rgb(119,120,90);
	width: 85%;
	margin: auto;
	position: relative;
	padding: 10px;
}
/* =============================================================================
   Page Styles
   ========================================================================== */
   
	 
article
{
 	text-align: inherit;
	display:inline;
	background-color:rgb(180,172,150);
}

#list,ol
{ 
background-color:rgb(180,172,151);
font-size:1.5em;
text-decoration:underline;
font-family:font-family: unifrakturcook, blackletter;
  	

}


aside
{
	text-align: left;
	border:5px #993 groove;
	background-color:rgb(180,172,150);
	border-radius:10px 0px 10px 0px;
	
}
 	


#link li 
{  
	text-align:center;
	display:inline;
	background-color:rgb(180,172,150)
}
h1,h2
{ 
	text-size: 1.0em;
	text-align:center;
	font-family:font-family: 'Griffy', cursive;
}

p
{
	color: rgb(0,0,51);
	text-shadow: inherit;
	font-size: medium;
	padding: 2px 2px 2px 2px;
}

#monit

 { padding:5px; 
 	font-size:1.5;
	background-color: rgb(229,178,105);	
	 
 }
 #hist
 {
	 border: 3px inset rgb(50,51,204);
	 background:rgb(239,205,147); 
 }
 
 /*================== forms =======================================*/
 .logon
{
	position: static;
	z-index: -1;
	height: 100px;
	width: 200px;
	top: 15px;
	right: 15px;
	padding: 15px;
	float: right;
	border: medium solid #0033FF;
	visibility: visible;
	margin: 15px;
	}
.logout
{
	background: #CCCC66;	
}

.regform
{
	padding: 10px;
	height: 200px;
	width: 525px;
	border: 5px solid #0000CC;
	background: url(../images/techstyle.jpg);
	position: static;
	left: 100px;
	top: inherit;
	right: 100px;
	bottom: auto;
	float: right;	
}

/*======================================================================
	mobal
=====================================================================*/
#overlay
{
	width: 500px;
	height: 340px;
	background: rgba(0,0,0,.5);
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1000;
	display: none;
	float: none;
	clear: none;
} 

#modal
{
	width: 350;
	background:#0066FF;
	box-shadow: 0 0 10px #000;
	border-radius: 10px;
	overflow:hidden;
	position:relative;
	top: 50%;
	left:50%;
	margin-top:-200px;
	margin-left:-200px;
	z-index:1001;
	display:none;
}

#modal .header
{
	background:#77785A;
	color:#fff;
	padding: 10px;
	
}

#modal p
{
	padding: 10px;
}

#modal .close
{
	position:absolute;
	right:5px;
	top:5px;
	font-size:16px;
	font-weight:bold;
	padding: 5px 10px;
	border: 1px solid #ccc;
	cursor:pointer;
	background-color: #F00;
	
}
#form

{
	padding: 10px;
}

#form.input

{
	padding: 10px;
}

/*  project page */
header
{
	width:960px;
}

.userid{
	width: 400px;
	float:left;
	}

.logoutbox{
	width: 400px;
	float: right;
	}
	





/* =============================================================================
   Media Queries
   ========================================================================== */

/* =============================================================================
   Font-Face
   ========================================================================== */
